# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
lab_10/var_16/Ex1/answer1000000.pdf
lab_10/var_16/Ex1/answer.pdf
Maxim/lab_10/var_22/Ex1/answer.pdf
Maxim/lab_10/var_22/Ex1/answer1000000.pdf
